body{
  text-align: center;
  background-color: #555;
}
.noFullScreen img{
  width: 300px;
  height: 233px;
  border: solid 4px #aaa;
  border-radius: 16px;
  xdisplay: inline-block;
}
.noFullScreen img:hover{
  border-color: #00aaff;
  cursor: pointer;
}
